body{
    background: black;
}
header{
    display: flex;
}
a{
    margin: 0 auto;
}
img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}
main{
    display: flex;
}
.block{
    margin: auto;
}
.email{
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
    gap:10px;
}
.password{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    margin: 20px 0  ;
    padding: 8px 35px;
    font-size: 20px;
    border-radius: 5px;
}
.label{
    font-size: 25px;
    color: #fff;
}
.input{
    padding: 10px 55px;
    border-radius: 5px;
    border: 2px solid #efab67;
}
.error-input, .error-password{
    display: none;
    color: red;
    margin-top: 10px;
}
.question{
    font-size: 25px;
    color: white;
}
span a{
    color: #ecb077;
}
@media(max-width: 414px) {
    .divmedia{
        margin: 0 auto;
        background: black;
    }
}