body{
    background: cadetblue;
}
.header{
    margin: 0 auto;
    max-width: 600px;
}
.header img{
    height: 260px;
    width :650px;
    object-fit: cover;
}
.container{
    margin: 0 auto;
    max-width: 600px;
}
.header__list li{
   margin: 10px 0;
    font-size: 30px;
    list-style-type: square;
}
.header__link.active{
    color: #85fc03;
    text-decoration: underline;
    font-weight: 900;
}
a{
    color:black;
    text-decoration: none;
}
.text{
    text-align: center;
    font-size: 25px;
}
.text b {
    color: #e7ebf6;
    font-size: 25px;
    text-decoration: underline;
}
.text c {
    color: #a4045a;
    font-size: 25px;
    font-weight: 900;
}
